<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <link rel="stylesheet" type="text/css" href="..\static\styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div id="loading" style="display: none;">
    <div class="loading-container">
        <div class="loader">
            <div class="half-circle"></div>
            <div class="half-circle"></div>
        </div>
        <h2 class="loading-text">Processing...</h2>
    </div>
</div>

    <h1>Please select your options:</h1>

    <form action="/options" method="post">
        <div class="checkbox-container">
            <div class="columns-co ntainer">
                <div class="checkbox-column">

                    <div class="custom-checkbox">
                        <input type="checkbox" id="jv" name="options" value="jv">
                        <label for="jv"></label>
                    </div>
                    <label for="jv">Register JV values (if you have at least one IV file)</label><br>

                    <div class="custom-checkbox">
                        <input type="checkbox" id="excel" name="options" value="excel">
                        <label for="excel"></label>
                    </div>
                    <label for="excel">Make Excel Files</label><br>

                    <div class="custom-checkbox">
                        <input type="checkbox" id="ppt" name="options" value="ppt">
                        <label for="ppt"></label>
                    </div>
                    <label for="ppt">Make PowerPoint files</label><br>
                </div>

            </div>
            <button class="custom-button" type="submit">Let's go!</button>
        </div>
    </form>
</body>
<script>

$(document).ready(function() {
    $('form').submit(function() {
        // Cachez le reste de la page
        $('body').children().not('#loading').hide();
        // Affichez l'écran de chargement
        $('#loading').show();
    });
});


</script>
</html>
